
<div class="s2u-type-list">
    <button id="s2u-type-edge-common" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-edge-common.png"/>
    </button>
    <button id="s2u-type-arc-common" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-common.png"/>
    </button>
    <button id="s2u-type-arc-common-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-common-access.png"/>
    </button>
    <button id="s2u-type-edge-const" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-edge-const.png"/>
    </button>
    <button id="s2u-type-arc-const" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const.png"/>
    </button>
    <button id="s2u-type-arc-const-perm-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const-perm-pos-access.png"/>
    </button>
    <button id="s2u-type-arc-const-perm-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const-perm-neg-access.png"/>
    </button>
    <button id="s2u-type-arc-const-perm-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const-perm-fuz-access.png"/>
    </button>
    <button id="s2u-type-arc-const-temp-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const-temp-pos-access.png"/>
    </button>
    <button id="s2u-type-arc-const-temp-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const-temp-neg-access.png"/>
    </button>
    <button id="s2u-type-arc-const-temp-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-const-temp-fuz-access.png"/>
    </button>
    <button id="s2u-type-edge-var" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-edge-var.png"/>
    </button>
    <button id="s2u-type-arc-var" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var.png"/>
    </button>
    <button id="s2u-type-arc-var-perm-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var-perm-pos-access.png"/>
    </button>
    <button id="s2u-type-arc-var-perm-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var-perm-neg-access.png"/>
    </button>
    <button id="s2u-type-arc-var-perm-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var-perm-fuz-access.png"/>
    </button>
    <button id="s2u-type-arc-var-temp-pos-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var-temp-pos-access.png"/>
    </button>
    <button id="s2u-type-arc-var-temp-neg-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var-temp-neg-access.png"/>
    </button>
    <button id="s2u-type-arc-var-temp-fuz-access" type="button" class="btn btn-default">
        <img src="static/components/images/s2u/alphabet/s2u-arc-var-temp-fuz-access.png"/>
    </button>
</div>

